<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" media="screen"
            href="@{'/public/stylesheets/main.css'}">
        <link rel="shortcut icon" type="image/png"
            href="@{'/public/images/favicon.png'}">
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
        
            var keyStrings = {};
            var count = 0;
            #{list result.patients, as: 'patient'}
                //keyStrings.push('${patient.key.name}');
                keyStrings['${patient.key.name}'] = count;
                count++;
            #{/list}
            
            //PieChart
            google.load("visualization", "1", {packages:["corechart"]});
            google.setOnLoadCallback(drawChart);
            function drawChart() {
              var data = google.visualization.arrayToDataTable([
                ['Type', 'Patient'],
                #{list result.patients, as: 'patient'}
                	['${patient.key.name}', ${patient.value}]
                	#{if !patient_last},#{/if}
                #{/list}
              ]);	
              var options = {
                title: 'B & I Analysis Result',
                pieHole: 0.4
              };	
              var chart = new google.visualization.PieChart(document.getElementById('piechart'));
              
              // The select handler. Call the chart's getSelection() method
              function selectHandler() {
                var keyString = data.getValue(chart.getSelection()[0].row, 0); 
                window.location = "./"+keyStrings[keyString];
              }
              
              //Add on click listener
              google.visualization.events.addListener(chart, 'select', selectHandler);
              chart.draw(data, options);
              
              //Table
              
            }
        </script>
    </head>
    <body>
        <p>
            <img src="/public/images/cat.png" height="42" width="42"> <span
                class="greeting">Here,</span> <span class="sub-greeting">have
            a donut...</span>
        </p>
        <div id="piechart"></div>
        <div id="table"></div>
        <p>
           <table class="result">
           #{list patientsRecordList, as: 'patient'}
           <tr>
                <td class>
                Patient number ${patient.get(0).patientId} : 
               #{list patient, as: 'record'}
                  ${record.day} ${record.medication}
                  #{if !record_last}? #{/if}
               #{/list}
                </td>
           </tr>
           #{/list}
        </p>
    </body>
</html>