<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" media="screen"
            href="@{'/public/stylesheets/main.css'}">
        <link rel="shortcut icon" type="image/png"
            href="@{'/public/images/favicon.png'}">
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            var keyStrings = {};
            var curDate = new Date();
            var count = 0;
            #{list result.patients, as: 'patient'}
                keyStrings['${patient.key.name}'] = count;
                count++;
            #{/list}
            
            //PieChart
            google.charts.load('current', {'packages':['corechart', 'timeline']});
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Type', 'Patient'],
                    #{list result.patients, as: 'patient'}
                	    ['${patient.key.name}', ${patient.value}]
                	    #{if !patient_last},#{/if}
                    #{/list}
                ]);	
                var options = {
                    title: 'B & I Analysis Result',
                    pieHole: 0.4
                };	
              
                // The select handler. Call the chart's getSelection() method
                function selectHandler() {
                    var keyString = data.getValue(chart.getSelection()[0].row, 0); 
                    window.location = "./"+keyStrings[keyString];
                }
                
           	    var timelineData = new google.visualization.DataTable();
           	    timelineData.addColumn({ type: 'string', id: 'PatientID' });
           	    timelineData.addColumn({ type: 'string', id: 'Medicine' });
           	    timelineData.addColumn({ type: 'string', role: 'tooltip' });
           	    timelineData.addColumn({ type: 'date', id: 'StartDay' });
           	    timelineData.addColumn({ type: 'date', id: 'EndDay' });
           	    timelineData.addRows([
                    #{list patientsRecordList, as: 'patient'}
                        #{list patient, as: 'record'}
                            ['${record.patientId}', 
                             '${record.medication}', 
                             'Start : Day ' + ${record.day} +
                             ', End : Day ' + ${record.dayEnd} + 
                             ', treatment lasts for ' + String(${record.dayEnd} - ${record.day}) + ' days',
                             new Date(curDate.getFullYear(),0,${record.day} + 1), 
                             new Date(curDate.getFullYear(),0,${record.dayEnd} + 1)]
                            #{if !record_last},#{/if}
           	            #{/list}
           	        #{/list}
           	    ]);
           	    
           	    var chartHeight = 80 * ${recordSize};
           	    
           	    var timelineOptions = {
           	    	width: 1000,
           	        height: chartHeight,
           	        avoidOverlappingGridLines: true,
           	        hAxis: {
           	        	minValue: new Date(curDate.getFullYear(), 0, 1),
           	            maxValue: new Date(curDate.getFullYear(), 11, 31)
           	        },
           	        tooltip: {isHtml: true}
           	    }
              
                var chart = new google.visualization.PieChart(document.getElementById('piechart'));
           	    var timeline = new google.visualization.Timeline(document.getElementById('timeline'));
                
                //Add on click listener
                google.visualization.events.addListener(chart, 'select', selectHandler);
                chart.draw(data, options);
                timeline.draw(timelineData, timelineOptions);
            }
                
        </script>
    </head>
    <body>
        <p>
            <img src="/public/images/cat.png" height="42" width="42"> <span
                class="greeting">Here,</span> <span class="sub-greeting">have
            a donut...</span>
        </p>
        <div id="piechart"></div>
         <p>
            <img src="/public/images/cat.png" height="42" width="42">
            <span class="sub-greeting">Year 2016 Table for ${typeString}</span>
        </p>
        <div id="timeline"></div>
    </body>
</html>